/* LESS theme for osthammar.se */

/* Mixins */

.gradient-background {
  
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: @osthammar-orange;

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, left top, right top, from(@osthammar-red), to(@osthammar-yellow));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, @osthammar-red, @osthammar-yellow);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, @osthammar-red, @osthammar-yellow);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, @osthammar-red, @osthammar-yellow);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, @osthammar-red, @osthammar-yellow);
    
  /* IE 6-8 */  
    
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=@osthammar-red, endColorstr=@osthammar-yellow);

}
 
.white-links {
	a {
		color: #fff;
	} 
	
	a:hover {
	    color: darken(#fff, 7%);
    }
}

.serif-text {
	font-family: @font-family-serif;
	font-size: @font-size-small;
	
	strong {
		font-family: @font-family-sans-serif;
	}
}

/* Site wide styles */

.breadcrumb li {
    margin-right: 1px;
}

.panel-primary .panel-heading {
    .gradient-background; 
}

.orange {
	color: @osthammar-orange;
}

.btn {
	text-decoration: none;
}

.btn-xl {
	.btn-lg;
	
	@media (min-width: @screen-sm-min) {
		font-size: @font-size-h3;
	}
	
	.badge {
		margin-left: 5px;
		background-color: white;
		color: @osthammar-orange;
		
		@media (min-width: @screen-sm-min) {
			font-size: @font-size-large;
			top: -2px;
		}
	}
}

.btn-block {
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-search {
	margin-bottom: @line-height-computed;
}

.pager {
	font-size: @font-size-large;
	margin: (@line-height-computed * 2) 0 @line-height-computed;
	
	li > a {
		text-decoration: none;
		
		@media (min-width: @screen-sm-min) {
			padding: @line-height-computed;
		}
	}
}

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-sm-height {
  display: table-cell;
  float: none !important;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

body {
	background-color: @navbar-default-bg;
}

address { 
	margin-bottom:0;
}

ul {
	margin-bottom:0;
}

dl {
	dt {
		font-size: @font-size-large;
		text-align: left !important;
	}
		
	dt:first-of-type {
		margin-top: 0;
	}
	
	dd {
		margin-bottom: (@line-height-computed / 2);
	}
}

section {

}

hr {
	width: 85%;
	margin-top: @default-spacing;
	margin-bottom: @default-spacing;
}

a {
	text-decoration: underline;
}

#alert, #page-header, #top, #middle {
	margin-top: (@line-height-computed / 2);
	
	@media (min-width: @screen-sm-min) {
		margin-top: @line-height-computed;
	}
}

#accessibility-buttons {
	
	display: none;
		
	@media (min-width: @screen-sm-min) {
		.pull-right;
		margin-top: 0;
		display: block;
	}
}

h1 {
	font-size: @font-size-h2;
}
h2 {
	font-size: @font-size-h3;
}
h3 {
	font-size: @font-size-h4;
}

@media (min-width: @screen-md-min) {
	h1 {
		font-size: @font-size-h1;
	}
	h2 {
		font-size: @font-size-h2;
	}
	h3 {
		font-size: @font-size-h3;
	}
}

#rsbutton.rsexpanded { 
	margin-top: @default-spacing; 
}

.img-byline {
	
	position: absolute;
	right: 0;
	top: 0;
	
	p {
		font-size: @font-size-smaller;
		transform: rotate(270deg);
		transform-origin: right top 0;
	}
}

/* Divider */

.osthammar-divider {
	height: 12px;
	.gradient-background;
}



/* Header */

#pre {
	
	position: fixed;
	bottom: 0px;
	z-index: @zindex-modal;
	width: 100%;
	
	background-color: #f8f8f8;
	border-top: 1px solid @gray-light;
	
	@media (min-width: @screen-md-min) {
		font-size: @font-size-large;
	}
	
	.close {
		font-size: @font-size-h1;
	}
	
	.alert {
		margin-bottom: 0;
	}
}

header {
	
	padding: 12px 0;
	
	.gradient-background;
		
	#logo {
    	width: 213px;
		.center-block();
		
		@media (min-width: @screen-sm-min) {
			margin: 0;				
		}
	}
	
	#header-search {
		
		.input-group {
			margin-top: (@line-height-computed / 2);
		}
		
		@media (min-width: @screen-sm-min) {
			margin-top: 8px;
			
			.input-group {
				margin-top: 0;
			}
		}
					
		.typeahead {
			top: 46px;
			width: 100%;
			
			ul {
				width: 100%;
				
				li a {
					
					padding: (@line-height-computed / 2) @line-height-computed;
					color: @link-color;
					font-size: @font-size-large;
					overflow: hidden;
					text-overflow: ellipsis;
					
					.typeahead-desc {
						font-size: @font-size-small;
						.pull-right;
						.label;
						.label-default;
					}
				}
			}
		}
		
		.typeahead-test {
			ul {
				display: block;
			}
		}
		
		button:focus {
			outline: 0;
			border-color: @osthammar-yellow;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 78, 0.6);
		}
	}
	
	#header-buttons {
		margin-top: 17px;
		
		a {
			text-decoration: none;
		}
	}
}

/* Navigation */

@media (min-width: @screen-md-min) {
	nav .navbar-collapse {
		padding-left: 0px;
	}


	nav .collapse a:first-of-type {
		padding-left: 0px;	
	}

}

/* Search */

#search {
	max-height: 300px;

	#search-box {
		position: relative;
	}

	#search-field {

		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
	
		.panel {
			width: auto;
			margin-left:auto;
			margin-right:auto;
			border: none;
			
			.panel-body {
				padding: 8px 12px;	
				overflow-x: hidden;
				text-align:center;
			}
			
			.search-link {
				margin-left: (@line-height-computed / 3); 
			}
			
		}
		
		button:focus {
			outline: 0;
			border-color: @osthammar-yellow;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 78, 0.6);
		}
				
		@media (min-width: @screen-sm-min) {
			bottom: 40px;
			position: absolute;
			left: 15%;
			right: 15%;
			
			.panel {
				max-width: 100%;
				margin-top: (@line-height-computed / 2);
			}	
		}
		
		@media (min-width: @screen-md-min) {

			bottom: 45px;
			
			.panel {
				max-width: 85%;
				margin-top: @line-height-computed;
			}
		}
	}
}

/* Top */

#top {
	
	img {
		margin-bottom: (@line-height-computed / 2);
	}
	
	#top-banner {
		
		.top-banner-img {
			
			position: relative;
				
				img {
					margin-bottom: 0;
				}
				
			.top-banner-overlay {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 380px;
				padding: @line-height-computed;
				background: @osthammar-orange;
				background: fade(@osthammar-orange, 90%);
				color: white;
				overflow: hidden;
				border: 1px darken(@osthammar-orange, 10%);
				
				@media (min-width: @screen-md-min) {
					width: 293px;
					margin-right: @line-height-computed;
				}
								
				h3 {
					margin-top: 0;
					margin-bottom: 5px;
				}
			}
			

		}
		
		.top-banner-img:hover {
			
			.top-banner-overlay {
				background: darken(@osthammar-orange, 10%);
			}
		}
		
	}
	
}

/* Main */

#main {
	background-color: white;
	
	padding-bottom: @line-height-computed;
	
	@media (min-width: @screen-sm-min) {
		padding-bottom: (@line-height-computed * 2);
	}
	
	.alert {
		margin-bottom: 0;
		font-size: @font-size-h4;
		text-align: center;
	}
}

/* Content */

#categories {
	
	.row div {
		margin-bottom: @line-height-computed;		
	}
	
	.row div:first-of-type {
		margin-top: (@line-height-computed / 2);
	}
	
	.row div:last-of-type {
		margin-bottom: 0;
	}
	
	@media (min-width: @screen-sm-min) {
		
		margin: @default-spacing 0;
	
		.row {
			margin-bottom: @line-height-computed;	
		}
		
		.row div:first-of-type {
			margin-top: 0;
		}
		
		.row div {
			margin-bottom: 0;		
		}
	}
	
	a {
		font-size: @font-size-h4;
		font-weight: 700;
	}
	
	.nav-categories {
		
		li {
			
			a {
				
				color: @gray-light;
				border-radius: 0px;
				text-decoration: none;
				
				p {
					font-size: @font-size-base;
					color: @gray-light;
					font-weight: 400;
					margin: 0;
				}
				
				h3 {
					font-size: @font-size-h4;
					margin: 0px 0px 5px 0px;
					text-decoration: underline;
					overflow: hidden;
				}
				
				@media (min-width: @screen-sm-min) {
				
					padding: 10px 20px;
				}
				
				@media (min-width: @screen-md-min) {
				
					padding: 15px 20px;	
				
				}
			}
			
			a:hover {
				
				h3 {
					text-decoration: underline;
					color: @osthammar-orange;
				}
				
				p {
					color: @gray-dark;
				}
			}
			
			@media (min-width: @screen-sm-min) {				
				
				a:after {
					position: absolute;
					top: 50%;
					margin-top: -15px;
					right: 15px;
					float: right;
					content: "\203A";
				}
			}
			
		}
		
		li.active {
			a {
				color: @component-active-color;
				
				p {
					color: @component-active-color;
				}
			}
			
			a:hover h3 {
				color: @component-active-color;
			}
		}
	}
	
	.nav-categories-active {
		li a {
			h3 {
				color: @osthammar-orange;
			}
			p {
				color: @gray-dark;
			}
		}
	}
	
	.nav-categories-l2, .nav-categories-l3 {
		h2, h3 {
			margin-left: 15px;
		}
	}
	
	.nav-categories-l3 {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	@media (min-width: @screen-sm-min) {
		.nav-categories-l1 {
			margin-top: 20px !important;
			margin-right: -15px;
		}
		.nav-categories-l2 {
			margin-left: -15px;
			margin-right: -15px;
		}
		.nav-categories-l3 {
			margin-left: -15px;
		}
		.nav-categories-l2, .nav-categories-l3 {
			h2, h3 {
				margin-left: @default-spacing;
				margin-right: @default-spacing;
			}
		}
		.nav-categories-l1, .nav-categories-l2 {
			border-right: 1px solid @gray-lighter;
		}
	}	

}

#puffar {
	
	.thumbnail {
		
		overflow: hidden;
		
		img {
			padding: 8px;
			height: 129px;
		}
		
		p {
			font-size: @font-size-base;
			line-height: @line-height-computed;
			
		}
		
		p:last-of-type {
			margin-bottom: 0;
		}
		
		a {
			font-size: @font-size-h5;
			font-weight: 600;
		}
		
		a[href*="//"]:not([href*="osthammar.se"])::after {
			display: none;
		}
		
		h5 {
			margin-top: (@line-height-computed / 4);
		}
		
		.nav a {
			font-size: @font-size-base;
			text-decoration: none;
		}
		
		@media (min-width: @screen-sm-min) {
			margin-bottom: 0;
			height: 275px;
			
			img {
				height: 98px;
			}
		}
		
		@media (min-width: @screen-md-min) {

			img {
				height: 129px;
			}
		}
	}
	
	.row {
		margin-top: @line-height-computed;
	}
	
	.row:first-of-type {
		margin-top: 0;
		
		.thumbnail {
			@media (min-width: @screen-sm-min) {
				margin-bottom: 0;
				height: 300px;
			
				img {
					height: 98px;
				}
			}
		
			@media (min-width: @screen-md-min) {
				height: 275px;
			
				img {
					height: 129px;
				}
			}
		}
	}
	
	#oppettider {
		
		font-size: @font-size-base;
		
		.oppet {
			color: darken(@osthammar-green, 10%);
			text-align: right;
		}
		
		.stangt {
			color: darken(@osthammar-red, 10%);
			text-align: right;
		}
		
		.table {
			margin-bottom: 0;
			
			tr:first-of-type td {
				border-top: none;
			}
		}
		
		.nav li a {
				padding: 10px 15px;
			}
			
		a {
			font-size: @font-size-base;		
		}
			
		@media (min-width: @screen-sm-min) {
			font-size: @font-size-small;
			
			a {
				font-size: @font-size-small;		
			}
			
			td {
				padding: 6px;
			}
			
			.nav li a {
				padding: 5px 7px;
			}
		}	
		
		@media (min-width: @screen-md-min) {
			font-size: @font-size-base;
			
			a {
				font-size: @font-size-base;		
			}
			
			td {
				padding: 8px;
			}
	
			.nav li a {
				font-size: @font-size-base;
				padding: 10px 15px;
			}
		}
	}
	
	#hitta {
		
		table {
			tr:first-of-type {
				td {
					border-top: none;
					padding-top: 0px;
				}
			}
			
			tr td {
				padding-left: 0px;
				
				a:before {
					font-family: "Glyphicons Halflings";
					content: "\e080";
					display: inline-block;
					text-decoration: none !important;
					margin-right: (@default-spacing / 3);
					font-size: @font-size-small;
				}
				
				a {
					font-size: @font-size-base;		
				}
			}
		}
	}
	
	#osthammardirekt {
		a {
			font-size: @font-size-base;
		}
		
		.btn {
			margin-top: (@default-spacing / 2);
		} 
	}
}

.guide-index {
	
	border-bottom: 1px solid @gray-light;
	
	margin: @line-height-computed 0;
	
	padding-bottom: (@line-height-computed / 2);
	
	ol {
		padding-left: 0;
		
		li {
			margin-left: @line-height-computed;
			margin-bottom: (@line-height-computed / 2);
		}
	}
}

.smartsvar-val {
	margin: @line-height-computed 0;
	
	a {
		text-decoration: none;
	}
}

.petition {
	
	@media (min-width: @screen-sm-min) {
		font-size: @font-size-large;
	}
	
	.petition-nav, .petition-table {
		margin-top: @line-height-computed;
	}
		
	.petition-nav button {
		margin-top: @line-height-computed;
	} 
	
	@media (min-width: @screen-sm-min) {
		.petition-nav button {
			margin-top: 0;
		}
	}

}

.fp {
	
	@media (min-width: @screen-sm-min) {
		font-size: @font-size-large;
	}
	
	.fp-table, .fp-nav {
		margin-top: @line-height-computed;
	}
	
	.fp-nav {
		
		.dropdown-menu {
			left: 15px;
			
			li a {
				padding: 3px 10px;
			}
		}
		
		button {
			margin-top: @line-height-computed;
		}
	} 
	
	@media (min-width: @screen-sm-min) {
		.fp-nav button {
			margin-top: 0;
		}
	}
	
	.fp-partier {
		
		li {
			padding: 0 2px 2px 2px;
		}
	
		img {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
		}
		
		.fp-active img {
			filter: none;
			-webkit-filter: none;
		}
	}
	
	img {
		max-height: 30px;
	}

}

.fp-form {
	img {
		max-height: 30px;
		margin: 0 2px;
	}
}

.dialog {
	
}

.safungerardet {
	
	.col-sm-12 h2 {
		border-bottom: 1px solid @gray-light;
		padding-bottom: (@line-height-computed / 2);
		margin-bottom: @line-height-computed;
	}
}

.map-box {
	margin: @line-height-computed 0;
}


.ruta {
	
	.well;
	.well-sm;
	
	@media (min-width: @screen-sm-min) {
		.well-lg;	
	}
	
	margin: @line-height-computed 0;
	
	h3 {
		margin-top: 0;
	}
	
	table {
		margin-bottom: 0;
	}
}

.calendar {
	
	h2 {
		margin-bottom: @line-height-computed;
	}
	
	.calendar-date {
		text-decoration: none;
		line-height: 1;
	}
	
	.calendar-date-lg {
		min-width: 55px;
		font-size: @font-size-h4;
	}
	
	.calendar-date-sm {
		min-width: 62px;
		font-size: @font-size-large;
	}
	
	@media (min-width: @screen-sm-min) {
		.calendar-date-lg {
			text-decoration: none;
			min-width: 65px;
			font-size: @font-size-h3;
		}
	}
	
	.media-left {
		padding-right: @line-height-computed;
	}
}

.amne-nav {
	
	margin-top: @default-spacing;
	
	button {
		margin-bottom: (@line-height-computed / 2);
	}
}

.search {
	
	dl {
		
		font-size: @font-size-large;
	
		dt {
			font-size: @font-size-h4;
			margin-bottom: (@line-height-computed / 4);
		}
		
		dd {
			margin-bottom: @line-height-computed !important;
			
			.label {
				font-size: 65%;
			}
			
			small {
				color: @gray;
			}
		}
	}
	
	
	
	
}

/* Page header */

#page-header {

	#breadcrumb {
		
		.breadcrumb {
			margin-bottom: 0;
			margin-top: 0;
			background: none;
			border: none;
			padding: 0;
			font-size: @font-size-smaller;
		}

		
		@media (min-width: @screen-sm-min) {
			.breadcrumb { 
				font-size: @font-size-base;
				margin-top: 5px;
			}
		}
		
	}
}

/* Middle */

#middle {
	
	
	line-height: 1.4;
	
	h1:first-of-type {
			margin-bottom: @line-height-computed;
		}
		
	/* Externa länkar */

	a[href*="//"]:not([href*="osthammar.se"])::after {
		content:"\e164";
		font-family: "Glyphicons Halflings";
		font-size: 11px;	
		display: inline-block;
		text-decoration: none;
		padding-left: 3px;
	}
		
	p.lead {
		font-size: 22px;
	}
		
	#middle-main {
		
		margin-top: 0;
		
		#middle-text {
		
			font-size: @font-size-large;
					
			small {
				font-size: @font-size-base;
			}
			
			form {
				margin: @default-spacing 0 (@default-spacing * 2) 0;
				
				.form-control[disabled], .form-control[readonly] {
					background: @gray-lightest;
					color: @gray-dark;
				}
				
				.glyphicon-ok {
					color: @osthammar-green;
				}
			}
			
			.btn-xl {
				margin: (@default-spacing / 2) 0;
			}
			
			.btn-xl:after {
				content: "";
			} 
			
			.page-search {
	
				.btn {
					margin: 0 -1px;
				}
			}
		
		}
		
		ul {
			margin-bottom: (@default-spacing / 2);
		}
		
		/*form button {
			margin: @line-height-computed 0;
		}*/
	}
	
	#middle-aside {

		border-width: 5px 0px 0px 0px;
		border-style: solid;
		border-color: @osthammar-orange;
		margin-top: @line-height-computed;

		@media (min-width: @screen-sm-min) {
			
			padding: (@line-height-computed / 2) 0 (@line-height-computed / 2) @line-height-computed;
			border-width: 0 0 0 5px;
		}
		
		padding: @line-height-computed 0;
		
		h2 {
			font-size: @font-size-h3;
		}
		
		h2:first-of-type {
			margin-top:0;
		}
		
		li {
			margin-top: (@line-height-computed / 2);
		}
		
		li.active {
				color: @breadcrumb-active-color;
		}
		
		li a.active {
				color: @breadcrumb-active-color;
		}
		
		li:first-of-type {
			margin-top: 0;
		}
		
		p {
			font-size: @font-size-base;
			line-height: @line-height-computed;
		}
		
		.btn {
			margin-top: (@line-height-computed / 2);
		}
		
	}
	
	#middle-footer {
		border-top: 1px solid @gray-light;
		margin-top: @line-height-computed;
		padding-top: (@line-height-computed / 2);
	}
	
	.banner {
		
		a[href*="//"]:not([href*="osthammar.se"])::after {
			content:"";
		}
		
		.banner-body {
			height: 180px;
			background:left top;
		}
	}

	.table-default {
		.table;
		.table-striped;
	}

	.table-tidtabell {
		td {
			width: 80px;
			text-align: center;
		}
		
		tr td:first-of-type {
			width: auto;
			text-align: left;
		}
		
		.table-bordered;
	}
}

/* Blocks */

.block-file {
	
	margin-top: @line-height-computed;
	
	.glyphicon {
		margin-top: 3px;
		font-size: @font-size-h1;
	}
	
	small {
		color: @gray-light;
	}
	
	ul li .glyphicon {
		margin-right: (@default-spacing / 4);
	}

}

.block-person {
	
	margin-bottom: (@default-spacing / 2);
		
	img {
		width: 85px;
		height: 85px;
	}
	
	.media {
		margin-top: @line-height-computed;
		
		.media-heading {
			margin-bottom: 2px;
		}
	}
}

.block-organisation {
	
	tbody > tr > td {
		border-top: none;
		padding: 8px 0;
	}
}

.block-kategorilista {
	
	h2 {
		margin-top: 0;
		margin-bottom: @line-height-computed;
	}
	
	.row {
		margin-bottom: (@line-height-computed * 2);
	}
		
	dt {
		margin-top: @line-height-computed;
	} 
}

.block-nyhet {
	
	margin-top: @default-spacing;
	
	> div {
		padding-bottom: (@line-height-computed / 2);
		border-bottom: 1px solid @gray-light;
	}
	
	> div:last-of-type {
		border-bottom: none;
	}
	
	h2 {
		font-size: @font-size-h3;
	}
	
	img {
		margin: 3px (@line-height-computed / 2) (@line-height-computed / 2) 0;
	}
	
	.media-video {
		
		position: relative;
		
		a:before {
			content: "\e029";
			font-family: "Glyphicons Halflings";
			font-size: 80px;
			position: absolute;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			line-height: 120px;
			width: 150px;
			height: 120px;
			top: 8px;
			left: 15px;
			color: @body-bg;
			background: rgba(200, 200, 200, 0.4);
		}
		
	}	

}

.block-externlank {
	
	dl {
		margin-bottom: 0;
	}
	
}

/* Footer */

footer {
	background: @navbar-default-bg;	

	#bottom {
		padding-top: @line-height-computed; 
		
		td, th {
			padding: 8px 0 !important;
		}
	}
}